<div class="main_wrapper col-md-10 col-md-offset-1">
    <div class="main_menu">
        <div class="logo left_part_menu">

        </div>
        <div class="sign_up right_part_menu">
            <div class="button_sign_up">
                <a routerLink="/registration"><p>Зарегистрироваться</p></a>
            </div>
        </div>
        <div class="sign_in right_part_menu">
            <div class="button_sign_in">
                <p>Войти</p>
            </div>
        </div>
        <div class="account_question right_part_menu">
            <p>Уже есть аккаунт?</p>
        </div>
        <div class="language right_part_menu">
            <div class="change_language">
                <p>EN</p>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="left_part">
            <div class="content_info">
                <div class="title_content_info">
                    <p>Чип & Дейл - <br>
                    <span>кастинговое агентство</span><br>
                    полного цикла</p>
                </div>
                <div class="line_after_title_content_info"></div>
                <div class="text_content_info">
                    <p>
                        Данный сайт - это ресурс, на котором размещаются кастинги Москвы, а также единая актуальная<br>
                        база актеров. Чип & Дейл - самый удобный ресурс для тех, кто заинтересован в съемках, от<br>
                        начинающих актеров до профессионалов.
                    </p>
                </div>
                <div class="buttons_content_info">
                    <div class="im_actor_button">
                        <p>Я - АКТЕР</p>
                    </div>
                    <div class="im_producer_button">
                        <p>Я - РЕЖИССЕР</p>
                    </div>
                </div>
            </div>
            <div class="contacts_info">
                <div class="contacts_info_phone">
                    <div class="contacts_info_phone_img"></div>
                    <div class="contacts_info_phone_txt"></div>
                </div>
                <div class="contacts_info_mail">
                    <div class="contacts_info_mail_img"></div>
                    <div class="contacts_info_mail_txt"></div>
                </div>
            </div>
        </div>
        <div class="right_part">
            <div class="main_photo">
                <img src="img/kamera.png">
            </div>
        </div>
    </div>
</div>